@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
.NOScroll {
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width to make it thin */
  height: 10px; /* Adjust the height for horizontal scrollbars */
}

/* Track styling */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Thumb styling */
::-webkit-scrollbar-thumb {
  background-color: #8a2be2;
  border-radius: 10px;
  border: 2px solid #f5f5f5;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #7a1dc2;
}

/* Button hover effect */
::-webkit-scrollbar-button:hover {
  background-color: #7a1dc2;
}

.codeblock1 {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    118.19deg,
    #8a2be2 -3.62%,
    /* Purple */ #9400d3 50.44%,
    /* Violet */ #ff1493 104.51% /* Deep Pink */
  );

  opacity: 0.2;
  filter: blur(70px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.custom-title {
  color: #4a90e2; /* Custom title color */
  font-size: 1.5rem; /* Custom title font size */
}

.custom-content {
  font-family: "Arial", sans-serif; /* Custom font */
}

.custom-confirm-btn {
  background-color: #6d28d9; /* Violet background color */
  color: white; /* Text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  margin-right: 8px;
  border: none; /* Remove border */
}

.custom-cancel-btn {
  background-color: #dc3545; /* Custom background color for the cancel button */
  color: white; /* Custom text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove border */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.scrl::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.scrl::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

.scrl::-webkit-scrollbar-thumb {
  background: #7c3aed; /* Violet color */
  border-radius: 9999px; /* Optional: Rounded scrollbar thumb */
}

.scrl::-webkit-scrollbar-thumb:hover {
  background: #6d28d9; /* Darker violet on hover */
}


